.Main{
   &__Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 200px;
    padding: 15px 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border-radius: 7px;
    &-input{
        width: 20%;
        height: 25px;
        border-radius: 5px;
        padding: 2px 10px;
    }
    img{
        cursor: pointer;
    }
   }
   &__Projects{
    justify-items: center;
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   } 
}

.dropdown-menu{
    background: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    display: grid;
    align-items:center;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    border-radius: 7px;
    vertical-align: baseline;
    position: absolute;
    z-index: 100;
    right: 200px;
    top: 90px;
}